
    <div>
      <h2 class="<%= @priority %>"><%= params[:id]%> <%=@todo_description%></h2>
      <input type="checkbox">
      <span> <%= @todo_pomodoro_estimate %> Pomodoros</span>
      
      <a href="/todo/edit/<%= params[:id]%>" id="edit-todo-button">Edit</a>
      <a href="/todo/destroy/<%= @todo.id %>" id="delete-todo-button">Delete</a>
      <a href="/todo/index.html" class="simple-link">Go back...</a>
    </div>
    